<!doctype html>
{% load staticfiles %}
<html lang="us">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<title>查詢頁面</title>
    <link href="{% static "js/jquery-ui.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/zoomify.min.css" %}"/>

	<style>
	body{
		font-family: "Trebuchet MS", sans-serif;
		margin: 50px;
	}
	.demoHeaders {
		margin-top: 2em;
	}
	#dialog-link {
		padding: .4em 1em .4em 20px;
		text-decoration: none;
		position: relative;
	}
	#dialog-link span.ui-icon {
		margin: 0 5px 0 0;
		position: absolute;
		left: .2em;
		top: 50%;
		margin-top: -8px;
	}
	#icons {
		margin: 0;
		padding: 0;
	}
	#icons li {
		margin: 2px;
		position: relative;
		padding: 4px 0;
		cursor: pointer;
		float: left;
		list-style: none;
	}
	#icons span.ui-icon {
		float: left;
		margin: 0 4px;
	}
	.fakewindowcontain .ui-widget-overlay {
		position: absolute;
	}
	select {
		width: 200px;
	}
    </style>
    
    <style>
        a{
            text-decoration: none;
            color:grey;
        }
        a:hover{
            color: red;
        }
        table{
            width: 150%;
            height: 180px;
            border-collapse: collapse;
            padding:10px 5px;
            text-align: center;
            border-color: white;
            font-family:"黑体";
        }
    </style>

    <style type="text/css">
        #hidden_enent{
          width:200px;
          height:150px;
          background:#ccc;
          text-align:center;
          line-height:150px;
        }
      </style>



</head>
<body>
    {% csrf_token %}
        {% block twomenu %}
        <div class="container">
                <div class="row">
                <a style="font-size:0.8cm;" href="/index/" >首頁</a>
                <div class="col-sm-1">
                        <button type="button" class="btn btn-outline-dark">查詢</button>
                </div>
                  <div class="col-sm">
                    <p>開始日期：<input type="text" id="datepicker"></p>
                  </div>

                  <div class="col-sm">
                        <p>結束日期：<input type="text" id="datepickerend"></p>
                  </div>

                  <div class="col-sm">
                        <div class="row-6">
                            <H3 style="margin-left:90px">舉發單位: {{leader }} </H3> 
                        </div>
                        <div class="row-sm" style="margin-top:10px">
                            <h2> </h2>
                                <H3 style="margin-left:90px">舉發員警: {{expop}} </H3> 
                        </div>
                        <!-- <div class="row-sm"style="margin-top:5px;margin-left:40px">
                            <img src="https://s.yimg.com/uu/api/res/1.2/Fs376FlVZIlxOIonUBfP4w--/YXBwaWQ9eXRhY2h5b247cT03NTs-/http://media.zenfs.com/zh-Hant-TW/homerun/tw.autos.yahoo.com/bf6eb52f0f51f58d18c472db69c9263d" width="300" height="300">
                      </div> -->
                  </div>
                </div>
              </div>
              {% endblock %}
              <div class="container" style="margin-top:50px">
                    <div class="row">
                      <div class="col-sm-8">
                            <table border="1px" table id="table01">
                                <tr>
                                    <th>勾選可開單</th>
                                    <th>xactno</th>
                                    <th>plt_no</th>
                                    <th>car_tp</th>
                                    <th>vil_dt</th>
                                    <th>vil_tm</th>
                                    <th>vil_add</th>
                                    <th>rule_1</th>
                                    <th>vilinf</th>
                                    <th>piccnt</th>
                                    <th>處理狀態</th>
                                    <th>車牌圖片</th>
                                    <th>修正動作</th>
                                    <!-- <th>勾選可開單</th>
                                    <th>流水號</th>
                                    <th>車號</th>
                                    <th>車別</th>
                                    <th>7碼違規日期(日)</th>
                                    <th>4碼違規時間(時)</th>
                                    <th>違規地點代碼</th>
                                    <th>違規條款代碼</th>
                                    <th>中文備註</th>
                                    <th>處理狀態</th>
                                    <th>車牌圖片</th>
                                    <th>修正動作</th> -->
                                </tr>
                                <tbody>
                                    {% if messages %}
                                        {% for message in messages %}
                                            <tr class="{% cycle 'active' 'success' 'warning' 'info' %}" id="tr1">
                                                <td><input type="checkbox" value="1" name="id" />{{ message.id }}</td>
                                                <td>{{ message.id }}</td>
                                                <td>{{ message.pltno }}</td>
                                                <td>{{ message.car_tp }}</td>
                                                <td>{{ message.vil_dt }}</td>
                                                <td>{{ message.vil_tm }}</td>
                                                <td>{{ message.vil_add }}</td>
                                                <td>{{ message.rule_1 }}</td>
                                                <!-- <td>{{ message.vildatetime }}</td> -->
                                                <td>{{ message.vilinf }}</td>
                                                <td>1</td>
                                                <td>{{ message.situa }}</td>
                                                <!-- <td><a href = "/static/{{ message.piclink }}">1</a></td> -->
                                                <td><div class="wrap">
                                                        <img class="zoomify" src="/static/{{ message.piclink }}" width=50 alt="">
                                                    </div></td>
                                                <td><a class="modify" href="javascript:;">修改</a></td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="4">目前無數據</td>
                                        </tr>
                                    {% endif %}

                                    
                                </tbody>
                            </table>
                            
                            <!-- <input class="checkq" type="button" id="btn" value="檢查" onclick="a3()"/>   -->
                            <input class="go" type="button" id="btnn" value="送出開單" onclick="a1();a2();a3()"/>
                            

        <!-- 分页开始 -->
        <nav style="text-align:center;margin-top: 50px">
            {% for page_number in messages.paginator.page_range %}
            {% ifequal page_number posts.number %}
                {{ page_number }}
            {% else %}
                <a  href="?page={{ page_number }}">{{ page_number }}</a>
            {% endifequal %}
            {% endfor %}
        </nav>
        <!-- 分页结束 -->


                    </div>
                  </div>



                  {% block content %}{% endblock %}

    <!-- Datepicker -->




    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/jquery-ui.js" %}"></script>





    <script>

    $( "#datepicker" ).datepicker({
        inline: true
    });

    $( "#datepickerend" ).datepicker({
    inline: true
    });


    </script>

    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    
    <script>
		$("th").css({"background-color":"dimgray","color":"white"});
		$("tr:odd").css("background-color","#DCDCDC");
		$("tr:even").css("background-color","whitesmoke");
		
		$(".modify").click(function(){
            str = $(this).text()=="修改"?"确定":"修改"; 
            $(this).text(str);
			$(this).parent().siblings("td:eq(2),td:eq(3),td:eq(4),td:eq(5),td:eq(6),td:eq(7),td:eq(8)").each(function()//找同类元素td
			{
				var is_text = $(this).find("input:text");//判断单元格下是否含有文本框
				if (!is_text.length) {
					$(this).html("<input size='3' type='text' value=' "+$(this).text()+" ' />");
				}
				else
					$(this).html(is_text.val());

			})
            $(this).parent().siblings("td:eq(10)").each(function()
            {
                $(this).html('已修改')
            })
		});
		
		// $(".go").click(function(){
		// 	{
        //         var t01 = $("#table01 tr").length;
        //     alert(t01);
        //     $("#table01").find("td").each(function(i) {
        //         var t = $(this).text();
        //         alert(t);
        //     });
		// 	}
		// });
        

        

    </script>
    <script>
            $.ajaxSetup({
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
          });
    </script>

    <script>
        $('.check').click( function() {
        var checkboxValue= new Array();
        var checkboxText= new Array();
	    var checkboxStr=document.getElementsByName("id"); 
        for(var i=0; i<checkboxStr.length; i++){if(checkboxStr[i].checked){checkboxValue.push(checkboxStr[i].value);checkboxText.push(checkboxStr[i].nextSibling.nodeValue);}} 
        alert(checkboxText);
        var data2 = JSON.stringify(checkboxText);

                    $.ajax({
                url: "/getid/",
                type: "post",
                dataType : 'json',
                data: {data2,csrfmiddlewaretoken: '{{ csrf_token }}'}
                // success: function (data) {  
                //     console.log('ss');
                // }
            })

        var $chkBoxes = $('#table01').find('input:checked');
        var $ids = [];
        if ($chkBoxes.length == 0) {         //如果不勾选弹出警告框
      alert('请至少选择一个数据集');
      return false;
    }
    //遍历被选中的checkbox集
    // $($chkBoxes).each(function () { 
    //   $ids.push( $(this).attr('td:eq(1)') );   //找到对应checkbox中data-id属性值，然后push给空数组$ids
    // });
    // var $ids_str = $ids.join(',');              //将数组转化为用逗号隔开的字符串
    // //( 还有一种写法：var $ids_str += ','+($ids + '') ) ，Number型加上空字符串''可以将Number转化为字符串
    // console.log($ids_str);

        // var $table = $('#table01').find('checked');
        // var $table = $('#table01');
        // var table = $table.tableToJSON(
        //               {
        //                  ignoreColumns:[0,9,10], 
        //                 //  headings: ['FirstName', 'LastName', 'Score']
        //                }); // Convert the table into a javascript object
        //   console.log(table);
          
        //   alert(JSON.stringify(table));


        });

    </script>


<script>
        $(function (){
        $('.zoomify').zoomify();
        });

        $.ajaxSetup({
            data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
          });

         function a1() {
            // var $table = $('#table01').prop('checked');
            var $table = $('#table01');
            var table = $table.tableToJSON(
                      {
                         ignoreColumns:[0,10,11,12], 
                        //  headings: ['FirstName', 'LastName', 'Score']
                       }); // Convert the table into a javascript object
            console.log('ss')
            var data1=JSON.stringify(table);
        // 觸發ajax事件
            $.ajax({
                url: "/getq/",
                type: "post",
                dataType : 'json',
                data: {data1,csrfmiddlewaretoken: '{{ csrf_token }}'}
                // success: function (data) {  
                //     console.log('ss');
                // }
            })
            };


            function a2(){
            //ajax的刪除事件
            var checkboxValue= new Array();
        var checkboxText= new Array();
	    var checkboxStr=document.getElementsByName("id"); 
        for(var i=0; i<checkboxStr.length; i++){if(checkboxStr[i].checked){checkboxValue.push(checkboxStr[i].value);checkboxText.push(checkboxStr[i].nextSibling.nodeValue);}} 
        alert(checkboxText);
        var data2 = JSON.stringify(checkboxText);

                    $.ajax({
                url: "/getid/",
                type: "post",
                dataType : 'json',
                data: {data2,csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (data2) {  
                    window.location.reload();
                    alert('ok')
                }
            })

        var $chkBoxes = $('#table01').find('input:checked');
        var $ids = [];
        if ($chkBoxes.length == 0) {         //如果不勾选弹出警告框
      alert('请至少选择一个数据集');
      return false;
    }
    };

    function a3(){
        window.location.reload()
    };
</script>

    <!-- // $(function(){
    //     $('.go').on('click', function(){
    //         alert('ok')
    //         $.ajax({
    //             url : 'getq/',
    //             method  : 'POST',
    //             dataType : 'json',
    //             async: false,
    //             success : function(data){
    //                 alert('ok')
    //             }
    //         });

    //     });

        // $('.go').click( function() {
        //     var data=JSON.stringify(JSON.stringify(table));
        //     $.ajax({
        //     type:"POST",
        //     url:"getjsonq/",
        //     data:data,
        //     contentType:"application/json", 
        //     success:function(data){
        //         alert('ok')
        //         //显示数据
        //     }
        // });
        // }); -->
        </script>

        

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static "js/jquery.tabletojson.js" %}"> </script>
    <!-- <script src="{% static "js/jquery.min.js" %}"></script> -->
    <script src="{% static "js/zoomify.min.js" %}"></script>
  </body>
</html>