<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>留言板</title>
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    </head>
    <body>

        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr class="danger">
                    <th>留言时间</th>
                    <th>留言者</th>
                    <th>标题</th>
                    <th>内容</th>
                </tr>
            </thead>
            <tbody>
                {% if messages %}
                    {% for message in messages %}
                        <tr class="{% cycle 'active' 'success' 'warning' 'info' %}">
                            <td>{{ message.xactno }}</td>
                            <td>{{ message.pltno }}</td>
                            <td>{{ message.car_tp }}</td>
                            <td>{{ message.vil_dt }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">无数据</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

        <!-- 分页开始 -->
        <div>
            <ul class="pagination">
            <li><a href="/guestbook/index/?page=1">首页</a></li>
                 {% if messages.has_previous %}
                        <li><a href="/guestbook/index/?page={{ messages.previous_page_number }}">上一页</a></li>
                {% endif %}

                 {% for num in messages.paginator.page_range %}
                    <li><a href="/guestbook/index/?page={{ num }}">{{ num }}</a></li>
                 {% endfor %}

                {% if messages.has_next %}
                     <li><a href="/guestbook/index/?page={{ messages.next_page_number }}">下一页</a></li>
                {% endif %}
                <li><a href="/guestbook/index/?page={{ messages.paginator.num_pages }}">尾页</a></li>
             </ul>
        </div>
        <!-- 分页结束 -->

        <div>
             <a class="btn btn-xs btn-primary" href="/guestbook/create/">去留言</a>
        </div>
    </body>
</html>
